include ./mixins.jade
doctype html
html
  head
    title= title
    id= id
    +nav("Stock App","dropdown_menu")
      +nav_item("/") Home
      +nav_item("/users/") Portfolio
      +nav_item("localhost:3000/transactions") Transactions
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
  body
    block content
    