extends layout 

block content
    .jumbotron
        h1 #{name}'s Transactions 
        .myRow
            .column
                    ul
                        for trans in transactions
                            li BUY #{trans.ticker} - #{trans.quantity} @ #{trans.price}
                        else
                            li You haven't made any transactions yet!
            